<div>
  <div>
    <h1>
      Exchange requests
    </h1>
  </div>
</div>

<hr>



<div>
  <div>
    <h2>Received requests</h2>
    <table border="1">
      <tr>

        <th>
          Status
        </th>

        <th>
          Album
        </th>

        <th>
          You get
        </th>

        <th>
          From
        </th>

        <th>
          You give
        </th>

        <th>
          Inventory
        </th>

        <th>
          Request received
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_exchanges_received.each do |an_exchange| %>
      <tr>
        
        <td>
          <%= an_exchange.status.capitalize %>
        </td>

        <td>
          <%= Album.where({ id: an_exchange.album_id}).first.name %>
        </td>

        <td>
          <%= an_exchange.card_number_to_send %>
        </td>

        <td>
          <%= User.full_name(an_exchange.id_sender) %>
        </td>

        <td>
          <%= an_exchange.card_number_to_receive %>
        </td>

        <td>
          <% inventory = Collection.check_card_inventory(an_exchange.album_id,session[:user_id],an_exchange.card_number_to_receive) %>
          <%= inventory %> cards
        </td>

        <td>
          <%= time_ago_in_words(an_exchange.created_at) %> ago
        </td>

        <td>
          <form action="/close_exchange" method="post">
            <div>
              <label for="id_exchange_box"></label>
              <input type="hidden" value="<%= an_exchange.id %>" id="id_exchange_box" name="query_exchange_id">
            </div>
            <div>
              <label for="status_exchange_box"></label>
              <input type="hidden" value="<%= "accepted" %>" id="status_exchange_box" name="query_exchange_status">
            </div>
            <button >Accept</button>
          </form>

          <form action="/close_exchange" method="post">
            <div>
              <label for="id_exchange_box"></label>
              <input type="hidden" value="<%= an_exchange.id %>" id="id_exchange_box" name="query_exchange_id">
            </div>
            <div>
              <label for="status_exchange_box"></label>
              <input type="hidden" value="<%= "declined" %>" id="status_exchange_box" name="query_exchange_status">
            </div>
            <button >Decline</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Sent requests</h2>
  </div>  
</div>

<hr>

<div>
  <div>
    <h2>Past requests</h2>
  </div>  
</div>

<hr>
