<div>
  <a href="/albums/<%= @the_album.id %>">
    Go back to album
  </a>
</div>

<div>
  <div>
    <h1>
      <%= @the_album.name %> | Card: <%= @card_number %>
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Users who have card <%= @card_number %> repeated:</h2>
    <table border="1">
      <tr>
        
        <th>
          Name
        </th>

        <th>
          Zip Code
        </th>

        <th>
          Card this user needs
        </th>

        <th>
          How many you have
        </th>

        <th>
          
        </th>
      </tr>

      <% @exchange_hash.keys.each do |a_collector| %>
        
        <% user = User.where({id: a_collector}).first %>
      
        <% @exchange_hash.fetch(a_collector).keys.each do |a_card| %>
          <tr>
            
            <td>
              <%= User.full_name(a_collector) %>            
            </td>

            <td>
              <%= user.zip_code %>
            </td>

            <td>
              <%= a_card %>
            </td>

            <td>
              <%= @exchange_hash.fetch(a_collector).fetch(a_card) %>
            </td>

            <td>
              <form action="/exchange_request" method="post">
                <button>Send exchange request</button>
              </form>
            </td>
          </tr>

        <% end %>

      <% end %>
    </table>
  </div>
</div>
