
<div>
  <div class="text-center">
    <h4>
      <%= @the_album.name %>
    </h4>
  </div>
</div>

<hr>

<div>
  <div class="text-center">
    <h5>Possible trades to get <span class="badge bg-primary rounded-pill">Card #<%= @card_number %></span>:</h5>
    <hr>
    <table class="table table-hover">
      <tr>
        <th width="20%">
          Name of<br>Collector
        </th>

        <th width="20%">
          Location<br><small><em>(Zip code)</em></small>
        </th>

        <th width="20%">
          Collector<br>needs
        </th>

        <th width="20%">
          My inventory<br><small><em>(# of cards)</em></small>
        </th>

        <th width="20%">
          Action
        </th>
      </tr>

      <% @exchange_hash.keys.each do |a_collector| %>
        
        <% user = User.where({id: a_collector}).first %>
      
        <% @exchange_hash.fetch(a_collector).keys.each do |a_card| %>
          <tr>
            
            <td>
              <%= User.full_name(a_collector) %>            
            </td>

            <td>
              <%= user.zip_code %>
            </td>

            <td>
              <span class="badge bg-secondary rounded-pill">Card #<%= a_card %></span>
            </td>

            <td>
              <span class="badge bg-success rounded-pill"><%= @exchange_hash.fetch(a_collector).fetch(a_card) %> cards</span>
            </td>

            <td>

              <% check = Exchange.check_request(@the_album.id, session[:user_id], a_card, user.id, @card_number) %>
              <% if check == false %>
                <form action="/insert_exchange" method="post">

                  <label for="id_album_box"></label>
                  <input type="hidden" value="<%= @the_album.id %>" id="id_album_box" name="query_album_id">

                  <label for="id_sender_box"></label>
                  <input type="hidden" value="<%= session[:user_id] %>" id="id_sender_box" name="query_id_sender">

                  <label for="id_card_sender_box"></label>
                  <input type="hidden" value="<%= a_card %>" id="id_card_sender_box" name="query_card_number_to_send">
                                    
                  <label for="id_receiver_box"></label>
                  <input type="hidden" value="<%= user.id %>" id="id_receiver_box" name="query_id_receiver">
                  
                  <label for="id_card_receiver_box"></label>
                  <input type="hidden" value="<%= @card_number %>" id="id_card_receiver_box" name="query_card_number_to_receive">

                  <button class="btn btn-primary btn-sm" style="min-width: 160px">Send exchange request</button>
                </form>
              <% else %>
                <form action="/exchanges">
                  <button class="btn btn-secondary btn-sm" style="min-width: 160px">Check request status</button>
                </form> 
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div>
      <a href="/albums/<%= @the_album.id %>">
        Go back to album
      </a>
    </div>
  </div>

</div>
