<div>
  <a href="/albums/<%= @the_album.id %>">
    Go back to album
  </a>
</div>

<div>
  <div>
    <h1>
      <%= @the_album.name %> | Card: <%= @card_number %>
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Users who have card repeated:</h2>
    <table border="1">
      <tr>
        <th>
          ID
        </th>
      
        <th>
          Name
        </th>

        <th>
          Zip Code
        </th>

        <th>
          Card this user needs
        </th>

        <th>
          How many you have
        </th>

        <th>
          
        </th>
      </tr>

      <% @collectors.each do |a_collector| %>
      <tr>
        <td>
          <%= a_collector %>
        </td>

        <td>
          <%= User.full_name(a_collector) %>
        </td>

          <% user = User.where({id: a_collector}).first %>
        <td>
          <%= user.zip_code %>
        </td>

        <td>
          <%= @cards_needed %>
        </td>

        <td>
          Get quantity of card
        </td>

        <td>
          <form action="/exchange_request" method="post">
                <button>Send exchange request</button>
              </form>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
  My repeated cards: <%= @repeated_cards_hash %>
  Hash: <%= @exchange_hash%>
</div>
