<div>
  <div>
    <h1>
      Find your album
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2></h2>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Cards
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_albums.each do |an_album| %>
      <tr>
        <td>
          <%= an_album.id %>
        </td>

        <td>
          <%= an_album.name %>
        </td>

        <td>
          <%= an_album.cards %>
        </td>

        <td>
          
          <% if @list_of_collections.include?(an_album.id) %>
            
            <a href="/albums/<%= an_album.id %>">
              Go to your album
            </a>

            <% else %>
            <a href="/link_collection/<%= an_album.id %>">
              Add album
            </a>
            <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new album (ADMIN)
    </h2>

    <form action="/insert_album" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="cards_box">
          Cards
        </label>

        <input type="text" id="cards_box" name="query_cards">
      </div>

      <button>
        Create album
      </button>
    </form>
  </div>
</div>

<hr>
