
<div>
  <div>
    <h4>
      <%= @the_album.name %>
    </h4>
  </div>
</div>

<hr>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: <%= 100*@list_of_cards.uniq.count/@the_album.cards %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<hr>

  <div>
    <h5>Cards missing to complete album: <%= @the_album.cards - @list_of_cards.uniq.count %> | People collecting album: <%= @list_of_collectors.count + 1 %> | Album completion: <%= 100*@list_of_cards.uniq.count/@the_album.cards %>% </h5>
      
    <div>
      <form action="/insert_collection" method="post">
      
        <label for="id_user_box"></label>
        <input type="hidden" value="<%= session[:user_id] %>" id="id_user_box" name="query_id_user">
     
        <label for="id_album_box"></label>
        <input type="hidden" value="<%= @the_album.id %>" id="id_album_box" name="query_id_album">
        
        <label for="card_number_box"></label>
        
        <div class="input-group mb-3">
          <input class="form-control" type="number" id="card_number_box" name="query_card_number" min="1" max=<%= @the_album.cards %> placeholder="Card number" aria-describedby="button-add_card" >
          <button class="btn btn-primary btn-sm" id="button-add_card" >Add card</button>
        </div>

      </form>
    </div>

    <div>
      <form action="/delete_collection" method="post">

        <label for="id_user_box"></label>
        <input type="hidden" value="<%= session[:user_id] %>" id="id_user_box" name="query_id_user">
      
        <label for="id_album_box"></label>
        <input type="hidden" value="<%= @the_album.id %>" id="id_album_box" name="query_id_album">
      
        <label for="card_number_box"></label>

        <div class="input-group mb-3">
          <input class="form-control" type="number" id="card_number_box" name="query_card_number" min="1" max=<%= @the_album.cards %> placeholder="Card number" aria-describedby="button-delete_card">        
          <button class="btn btn-danger btn-sm" id="button-delete_card">Delete card</button>
        </div>
      </form>
    </div>
  </div>

<hr>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            # Card
          </th>

          <th>
            Your inventory:
          </th>

          <th>
            Users who have card repeated:
          </th>

          <th>
            Users who don't hold card:
          </th>

          <th>
            
          </th>
        </tr>
      </thead>
      <% @the_album.cards.times do |a_card| %>
      <tr>
        <td>
          <% card_number = a_card + 1 %>
          <%= card_number.to_s %>
        </td>

        <td>
          <% if @list_of_cards.count(card_number) == 1 %>
            1 card
          <% elsif @list_of_cards.count(card_number) != 0 %>
            <%= @list_of_cards.count(card_number) %> cards
          <% else end %>
        </td>

        <td>
          <% collectors_card = @list_of_collections.where({ card_number: card_number }).where.not({ id_user: session[:user_id]}).map_relation_to_array(:id_user) %>
          <% collectors_repeated_card = collectors_card.find_all { |e| collectors_card.count(e) > 1 } %>
          <% number_of_collectors_repeated = collectors_repeated_card.uniq.count %>
          <% if number_of_collectors_repeated == 1 %>
              1 user
          <% elsif number_of_collectors_repeated != 0 %>
              <%= number_of_collectors_repeated %> users
          <% end %>
        </td>

        <td>
          <% collectors_no_card = @list_of_collections.where.not({:id_user => session.fetch(:user_id)}).where({ card_number: card_number }).map_relation_to_array(:id_user).uniq.count %>
          <% if @list_of_collectors.uniq.count - collectors_no_card == 1 %>
             1 user
          <% elsif @list_of_collectors.uniq.count - collectors_no_card != 0 %>
             <%= @list_of_collectors.uniq.count - collectors_no_card %> users
          <% else end %>
        </td>

        <td>
          <% if number_of_collectors_repeated == 1 %>
              <form action="/albums/<%= @the_album.id %>/<%= card_number %>" method="get">
                <button class="btn btn-secondary btn-sm">See user</button>
              </form>
          <% elsif number_of_collectors_repeated != 0 %>
              <form action="/albums/<%= @the_album.id %>/<%= card_number %>" method="get">
                <button class="btn btn-secondary btn-sm">See users</button>
              </form>
          <% else end %>              
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>

<% if @current_user.id == 1 %>

  <div>
    <div>
      <h5>
        Modify album (ADMIN)
      </h5>

      <form action="/modify_album/<%= @the_album.id %>"  method="post" >
        <div class="input-group mb-3">
          <span class="input-group-text">Name of album:</span>
          <input class="form-control" type="text" id="name_box" name="query_name" value="<%= @the_album.name %>">
          <label for="name_box"></label>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Number of cards in album:</span>
          <input class="form-control" type="number" id="cards_box" name="query_cards" value="<%= @the_album.cards %>">
          <label for="cards_box"></label>
        </div>
        
        <button class="btn btn-primary btn-sm">Update album</button>
        
      </form>
      <hr>
      <div>
        <form action="/delete_album/<%= @the_album.id %>">
          <button class="btn btn-danger btn-sm">Delete album</button>
        </form>
      </div>
    </div>
  </div>
  <hr>
<% else end %>
