<div>
  <div>
    <h1>
      <%= @the_album.name %>
    </h1>
  </div>
</div>

<hr>
  
  <div>
    <h4>Cards missing to complete album: <%= @the_album.cards - @list_of_cards.uniq.count %> | Album completion: <%= 100*@list_of_cards.uniq.count/@the_album.cards %>% | People collecting album: <%= @list_of_collectors.count + 1 %></h4>
    <form action="/insert_collection" method="post">
      <div>
        <label for="id_user_box"></label>
        <input type="hidden" value="<%= session[:user_id] %>" id="id_user_box" name="query_id_user">
      </div>

      <div>
        <label for="id_album_box"></label>
        <input type="hidden" value="<%= @the_album.id %>" id="id_album_box" name="query_id_album">
      </div>

      <div>
        <label for="card_number_box">
    
        </label>
        <input type="number" id="card_number_box" name="query_card_number" min="1" max=<%= @the_album.cards %> placeholder="Card #">
        <button>
          Add card
        </button>
    </form>

    <form action="/delete_collection" method="post">
      <div>
        <label for="id_user_box"></label>
        <input type="hidden" value="<%= session[:user_id] %>" id="id_user_box" name="query_id_user">
      </div>

      <div>
        <label for="id_album_box"></label>
        <input type="hidden" value="<%= @the_album.id %>" id="id_album_box" name="query_id_album">
      </div>

      <div>
        <label for="card_number_box">
    
        </label>
        <input type="number" id="card_number_box" name="query_card_number" min="1" max=<%= @the_album.cards %> placeholder="Card #">
        <button>
          Delete card
        </button>
    </form>
      </div>
  </div>

<hr>

<div>
  <div>
    <h2></h2>
    <table border="1">
      <tr>
        <th>
          # Card
        </th>

        <th>
          You have:
        </th>

        <th>
          Repeated card:
        </th>

        <th>
          Missing card:
        </th>

        <th>
          
        </th>
      </tr>

      <% @the_album.cards.times do |a_card| %>
      <tr>
        <td>
          <% card_number = a_card + 1 %>
          <%= card_number.to_s %>
        </td>

        <td>
          <% if @list_of_cards.count(card_number) == 1 %>
            1 card
          <% elsif @list_of_cards.count(card_number) != 0 %>
            <%= @list_of_cards.count(card_number) %> cards
          <% else end %>
        </td>

        <td>
          <% collectors_card = @list_of_collections.where({ card_number: card_number }).where.not({ id_user: session[:user_id]}).map_relation_to_array(:id_user) %>
          <% collectors_repeated_card = collectors_card.find_all { |e| collectors_card.count(e) > 1 } %>
          <% number_of_collectors_repeated = collectors_repeated_card.uniq.count %>
          <% if number_of_collectors_repeated == 1 %>
              1 user
          <% elsif number_of_collectors_repeated != 0 %>
              <%= number_of_collectors_repeated %> users
          <% end %>
        </td>

        <td>
          <% collectors_no_card = @list_of_collections.where.not({:id_user => session.fetch(:user_id)}).where({ card_number: card_number }).map_relation_to_array(:id_user).uniq.count %>
          <% if @list_of_collectors.uniq.count - collectors_no_card == 1 %>
             1 user
          <% elsif @list_of_collectors.uniq.count - collectors_no_card != 0 %>
             <%= @list_of_collectors.uniq.count - collectors_no_card %> users
          <% else end %>
        </td>

        <td>
          <% if number_of_collectors_repeated == 1 %>
              <form action="/albums/<%= @the_album.id %>/<%= card_number %>" method="get">
                <button>See user</button>
              </form>
          <% elsif number_of_collectors_repeated != 0 %>
              <form action="/albums/<%= @the_album.id %>/<%= card_number %>" method="get">
                <button>See users</button>
              </form>
          <% else end %>              
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>

<% if @current_user.id == 1 %>

  <div>
    <div>
      <h2>
        Edit album (ADMIN)
      </h2>

      <form action="/modify_album/<%= @the_album.id %>"  method="post" >
        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value="<%= @the_album.name %>">
        </div>

        <div>
          <label for="cards_box">
            Cards
          </label>

          <input type="text" id="cards_box" name="query_cards" value="<%= @the_album.cards %>">
        </div>

        <button>
          Update album
        </button>
        
        <div>
        
          <a href="/delete_album/<%= @the_album.id %>">
            Delete album
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
<% else end %>
